<div style="padding-top: 1em;">
    <form #newNote="ngForm" (ngSubmit)="submitNote(newNote.form); newNote.resetForm()">
        <input 
            ngModel 
            #subjectField="ngModel" 
            type="text" 
            name="subject"
            required
            placeholder="Enter Subject"
            class="form-control"
            value="asfa">
        <textarea 
            [(ngModel)]="messageField"
            type="text"
            name="message"
            required
            placeholder="message"
            class="form-control">
        </textarea>
        <button 
            class="btn btn-primary" 
            style="display: block;" 
            [disabled]="!newNote.valid">
            Submit
        </button>
    </form>
    {{newNote.value.message}}
</div>