<div style="padding-top: 1em;">
    <form #newNote="ngForm" (ngSubmit)="submitNote(newNote.form); newNote.resetForm()">
        <input 
            ngModel 
            #subjectField="ngModel" 
            type="text" 
            name="subject"
            required
            placeholder="Enter Subject"
            class="form-control"
            [ngModel]="chosenNote?.subject">
        <textarea 
            ngModel
            #messageField="ngModel"
            type="text"
            name="message"
            required
            placeholder="message"
            class="form-control"
            [ngModel]="chosenNote?.message">
        </textarea>
        <button 
            class="btn btn-primary" 
            style="display: block;" 
            [disabled]="!newNote.valid">
            Submit
        </button>
    </form>
</div>
<button (click)="clicker()">button</button>
<div *ngIf="chosenNote != null">{{chosenNote.subject}}
    {{chosenNote.message}}
    {{krillin.a}}
    {{krillin | json}}
</div>